INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
*.o
*.la
*.lo
*.pyc
config.*
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
linux/.deps
linux/.libs
stamp-h1
libtool
*.gz
*.bz2
.metadata
Debug
README
doc/Doxyfile
doc/Doxyfile.bak
doc/html
doc/latex
doc/mainpage.h
.cdtproject
.settings
*.swn
*.swo
*.swp
*~
*.orig
*.rej
win32/Debug
win32/Release
win32/libfreespace.vcproj.*.user
*.ncb
*.suo
